* {
  font-size: 16px;
}

.codes-wrapper {
  display: flex;
  flex-direction: row;

  height: 100%;
}

.code {
  width: 100%;

  display: flex;
  flex-direction: column;

  background-color: white;

  // border: 5px dashed gray;

  // margin: 10px;

  & > * {
    flex: 0 1 0;
  }

  .line {
    display: flex;
    flex-direction: row;

    width: max-content;

    .byte {
      width: 20px;
      height: 20px;

      margin: 0;

      background-color: white;

      $border-radius: 0;
      border-radius: $border-radius;

      // &.top.left {
      //   border-top-left-radius: $border-radius;
      // }
      // &.top.right {
      //   border-top-right-radius: $border-radius;
      // }

      // &.bottom.left {
      //   border-bottom-left-radius: $border-radius;
      // }
      // &.bottom.right {
      //   border-bottom-right-radius: $border-radius;
      // }

      &.x {
        background-color: black;
      }

      &.y {
        background-color: red;
      }
    }
  }

  svg {
    padding: 5px;

    flex: 1 1 0;

    border: 1px dashed gray;
  }

  .title {
    display: flex;
    flex-direction: column;

    position: relative;

    .offset-checkbox {
      position: absolute;
      left: 0;
      line-height: 32px;
      height: 2rem;

      input,
      label {
        cursor: pointer;
      }
    }

    .save {
      position: absolute;
      right: 0;

      font-size: 32px;

      line-height: 32px;

      height: 2rem;

      cursor: pointer;

      text-align: right;
    }
  }
}
.menu {
  $back-color: rgb(228, 228, 228);

  .item {
    display: none;

    background-color: $back-color;

    position: relative;
    right: 0;
    top: 0.2rem;

    cursor: pointer;

    padding: 2px 5px;

    text-align: center;
  }
  .item:hover {
    background-color: darken($back-color, 10);
  }

  &:hover .item,
  .item:hover {
    display: block;
  }
}
