div.type {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  .radio-buttons {
    padding: 10px;

    input,
    label {
      cursor: pointer;
    }
  }

  .value {
    padding: 10px;

    display: flex;
    flex-direction: row;

    align-items: center;

    justify-content: center;

    width: 100%;

    & > * {
      margin-right: 10px;
    }
  }
}

$border: 5px solid gray;

.table {
  display: flex;
  flex-direction: row;

  width: 100%;

  border: $border;
  border-right: 0;

  .column {
    flex: 1 1 0;

    border-right: $border;

    & > label {
      display: block;
      width: 100%;

      border-bottom: $border;
    }
  }
}

.correction,
.masks {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
}

.radio-button-wrapper {
  display: flex;
  flex-direction: row;
}
